html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
.popup {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: justify;
    text-justify: inter-word;
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Change colous based on requirements */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* Change colous based on requirements */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Change colous based on requirements */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

* {
    text-decoration: none;
    list-style-type: none;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100px;
}

header .brand {
    font-size: 24px;
    color: #111;
    font-weight: 900;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    font-family: "Roboto Mono", monospace;
}

header > nav > ul {
    display: inline-block;
    float: left;
    padding: 0px 16px;
    text-align: center;
}

header > nav > ul > li > a {
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    font-family: "Inconsolata", monospace;
    font-weight: 600;
}